.box {
  background-color: #766a92;
  padding: 120px 80px 0 80px;
  min-height: 100vh;
}

.text {
  color: white;
}

.div {
  display: flex;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  gap: 15px;
}

.span {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
}
